* {
  background-color: #000000;
  color: #edebe8;
  font-family: stardewFont;
}

@font-face {
  font-family: stardewFont;
  src: url(/haunted-chocolatier/stardew.otf);
}

nav {
  text-align: center;
  font-size: 24px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
